<div class="container">
  <uib-tabset class = "adminTabs" active="activeTab" >
    <button ng-if="activeTab != 0" id="admin-add-btn" class="btn btn-add admin-btn" ng-click="addNewElement(activeTab)">Add {{btnValue[activeTab-1]}}</button>
    <uib-tab index="0" heading="Dashboard" ng-click="$rootScope.show=true">
      <div ng-controller="AdminDashboardCtrl">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="adminCards dashboard-cards">
              <h2>{{counter.restaurants}}</h2>
              <h5>Restaurants</h5>
              <button class="btn btn-add admin-btn" ng-click="addNewElement(1); $rootScope.show=false">Add new restaurant</button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="adminCards dashboard-cards">
              <h2>{{counter.locations}}</h2>
              <h5>Locations</h5>
              <button class="btn btn-add admin-btn" ng-click="addNewElement(2); $rootScope.show=false">Add new location</button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="adminCards dashboard-cards">
              <h2>{{counter.users}}</h2>
              <h5>Users</h5>
              <button class="btn btn-add admin-btn" ng-click="addNewElement(3); $rootScope.show=false">Add new user</button>
            </div>
          </div>
        </div>
      </div>
    </uib-tab>

    <uib-tab index="1" heading="Restaurants" active="activeTab" ng-click="$rootScope.show=true">
      <div ng-controller="AdminRestaurantsCtrl">
        <div ng-show="$rootScope.show">
          <div class="adminCards">
            <table class ="table table-bordered admin-tables">
              <thead>
                <tr>
                  <th class="col-xs-11">Name</th>
                  <th class="col-xs-1"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="restaurant in restaurants">
                  <td> {{restaurant.restaurantName}}</td>
                  <td><i class="material-icons" ng-click="edit(restaurant); $rootScope.show=false">edit</i>  <i class="material-icons" ng-click="delete(restaurant)">delete</i></td>
                </tr>
              </tbody>
            </table>
            <div ng-show="notEmpty" class = "pagination-sm pagination-custom" uib-pagination="" ng-model="currentPage"
                 total-items="totalItems"
                 items-per-page="9"
                 ng-change="pageChanged()">
            </div>
          </div>
        </div>
        <div ng-show="!$rootScope.show">
          <form name="adminAddRestaurant" ng-submit="addRestaurant()" class="shadow-form main-admin-form">
            <div class="row">
              <div class="col-xs-12 col-sm-6 admin-forms">
                <h3>Logo</h3>
                <input type="file" ng-model="imageSrc.profile" id="logoImg" ng-file-select="onFileSelect($files)" accept="image/*">
                <label for="logoImg" class="upload-img" ng-show="!imageSrc.profile">
                  <i class="material-icons" style="font-size: 60px">cloud_upload</i>
                  <h4>Upload logo</h4>
                </label>
                <label for="logoImg" class="upload-img" ng-show="imageSrc.profile">
                  <img class="uploaded-profile" src="{{imageSrc.profile}}">
                </label>
                <h3>Name</h3>
                <input type="text" id="name-restaurant-input" ng-model="restaurantInfo.restaurantName">
                <h3>Description</h3>
                <textarea name="textarea1" ng-model="restaurantInfo.description"></textarea>
                <h3>Location</h3>
                <div map-lazy-load="https://maps.google.com/maps/api/js" class="map-holder">
                  <ng-map center="{{gmap.center}}" zoom="10"  >
                    <marker position="{{gmap.pos}}" animation="DROP" on-dragend="dragEnd()" draggable="true"></marker>
                  </ng-map>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 admin-forms">
                <h3>Cover</h3>
                <input type="file" id="coverImg">
                <label for="coverImg" class="upload-img" ng-show="!imageSrc.cover">
                  <i class="material-icons" style="font-size: 60px">cloud_upload</i>
                  <h4>Upload cover</h4>
                </label>
                <label for="coverImg" class="upload-img" ng-show="imageSrc.cover">
                  <img class="uploaded-profile" src="{{imageSrc.cover}}">
                </label>
                <h3>Price range</h3>
                <select name="priceRange" class="fields"
                        ng-model="restaurantInfo.priceRange" required>
                  <option ng-value="1">Very low</option>
                  <option ng-value="2">Low</option>
                  <option ng-value="3">Medium</option>
                  <option ng-value="4">High</option>
                  <option ng-value="5">Very high</option>
                </select>
                <h3>Location</h3>
                <div class="div-fields row">
                  <div class="col-md-7">
                    <select name="country" class="fields"
                            ng-model="restaurantInfo.country" ng-options="item.id as item.country disable when item.disabled for item in countries"
                            ng-change="updateCities()" required>
                    </select>
                    <span ng-show="form.country.$touched
            && form.country.$invalid">Country is required</span>
                  </div>

                  <div class="col-md-5">
                    <select type="text" name="city" class="fields"
                            ng-model="restaurantInfo.city" ng-options="item.id as item.city disable when item.disabled for item in cities" required>
                    </select>
                    <span ng-show="form.city.$touched
            && form.city.$invalid">City is required</span>
                  </div>
                </div>
                <h3>Category</h3>
                <div class="category-frame">
                  <ul>
                    <li ng-repeat="category in activeCategories">
                      <button class="btn btn-category" ng-click="deleteActiveCategory($index)">
                        {{category.name}}
                      </button>
                    </li>
                  </ul>
                </div>
                <div>
                  <select name="category" ng-model="activeCategory" ng-options="item.id as item.name disable when item.disabled for item in cousines track by item.name"
                          ng-change="addCategory(activeCategory)"></select>
                </div>
              </div>
            </div>

            <input type="submit" class="btn admin-btn proceed-btn" value="Add restaurant">
            <button ng-click="$rootScope.show = true" class="btn back-btn">Back</button>
          </form>
        </div>
      </div>
    </uib-tab>

    <uib-tab index="2" heading="Locations" active="activeTab" ng-click="$rootScope.show=true">
      <div ng-controller="AdminLocationCtrl">
        <div ng-show="$rootScope.show">
          <div class="adminCards">
            <table class ="table table-bordered admin-tables">
              <thead>
              <tr>
                <th class="col-xs-11">Name</th>
                <th class="col-xs-1"></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="city in cities">
                <td> {{city.city}}</td>
                <td><i class="material-icons" ng-click="edit(city); $rootScope.show=false">edit</i>  <i class="material-icons" ng-click="delete(city)">delete</i></td>
              </tr>
              </tbody>
            </table>
            <div ng-show="notEmpty" class = "pagination-sm pagination-custom" uib-pagination="" ng-model="currentPage"
                 total-items="totalItems"
                 items-per-page="9"
                 ng-change="pageChanged()">
            </div>
          </div>
        </div>
        <div ng-show="!$rootScope.show">
          <form name="adminAddLocation" ng-submit="addLocation()" class="shadow-form main-admin-form">
            <div class="row">
              <div class="col-xs-12 col-sm-6 admin-forms">
                <input type="text" ng-model="location.city" placeholder="New/existing country name">
              </div>

              <div class="col-xs-12 col-sm-6 admin-forms">
                <input type="text" ng-model="location.country" placeholder="New city name">
              </div>
            </div>
            <input type="submit" class="btn admin-btn proceed-btn" value="Add location">
            <button ng-click="$rootScope.show = true" class="btn back-btn">Back</button>
          </form>
        </div>
      </div>
    </uib-tab >

    <uib-tab index="3" heading="Categories" active="activeTab" ng-click="$rootScope.show=true">
      <div ng-controller="AdminCategoriesCtrl">
        <div ng-show="$rootScope.show">
          <div class="adminCards">
            <table class ="table table-bordered admin-tables">
              <thead>
              <tr>
                <th class="col-xs-11">Name</th>
                <th class="col-xs-1"></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="category in categories">
                <td> {{category.name}}</td>
                <td><i class="material-icons" ng-click="edit(category); $rootScope.show=false">edit</i>  <i class="material-icons" ng-click="delete(category)">delete</i></td>
              </tr>
              </tbody>
            </table>
            <div ng-show="notEmpty" class = "pagination-sm pagination-custom" uib-pagination="" ng-model="currentPage"
                 total-items="totalItems"
                 items-per-page="9"
                 ng-change="pageChanged()">
            </div>
          </div>
        </div>
        <div ng-show="!$rootScope.show">
          <form name="adminAddCategory" ng-submit="addCategory()" class="shadow-form main-admin-form">
            <div class="row">
              <div class="col-xs-12 col-sm-6 admin-forms">
                <input type="text" ng-model="cousine.name" placeholder="New cousine">
              </div>
            </div>
            <input type="submit" class="btn admin-btn proceed-btn" value="Add location">
            <button ng-click="$rootScope.show = true" class="btn back-btn">Back</button>
          </form>
        </div>
      </div>
    </uib-tab>

    <uib-tab index="4" heading="Users" active="activeTab" ng-click="$rootScope.show=true">
      <div ng-controller="AdminUsersCtrl">
        <div ng-show="$rootScope.show">
          <!-- DODATI BUTTON-->
          <div class="adminCards">
            <table class ="table table-bordered admin-tables">
              <thead>
              <tr>
                <th class="col-xs-5">Name</th>
                <th class="col-xs-6 th-email">Address</th>
                <th class="col-xs-1"></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="user in users">
                <td> {{user.firstName}} </td>
                <td class="td-email"> {{user.email}} </td>
                <td><i class="material-icons" ng-click="edit(user); $rootScope.show=false">edit</i>  <i class="material-icons" ng-click="delete(user)">delete</i></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div ng-show="!$rootScope.show">
          <form name="adminAddUser" ng-submit="addUser()" class="shadow-form main-admin-form">
            <div class="row">
              <div class="div-fields">
                <input type="text" name="first" class="fields"
                       id="first" placeholder="First Name" ng-model="info.first" required />
                <span ng-show="form.first.$touched
            && form.first.$invalid">First Name is required</span>
              </div>

              <!--last name-->
              <div class="div-fields">
                <input type="text" name="last" class="fields"
                       name="last" placeholder="Last Name" ng-model="info.last"  required />
                <span ng-show="form.last.$touched
            && form.last.$invalid">Last Name is required</span>
              </div>


              <!--email-->
              <div class="div-fields">
                <input type="email" name="email" class="fields"
                       id="email" placeholder="Email" ng-model="info.email" required />
                <span ng-show="form.email.$touched
            && form.email.$invalid">Email is not valid</span>
              </div>

              <!--Phone Number-->
              <div class="div-fields">
                <input type="text" name="phone" class="fields"
                       id="phone" placeholder="Phone Number" ng-model="info.phone" required />
                <span ng-show="form.phone.$touched
            && form.phone.$invalid">Phone Number is required</span>
              </div>



              <!--country & city -->
              <div class="div-fields row">
                <div class="col-md-7">
                  <select name="country" class="fields"
                          ng-model="info.country" ng-options="item.id as item.country disable when item.disabled for item in countries"
                          ng-change="updateCities()" required>
                  </select>
                  <span ng-show="form.country.$touched
            && form.country.$invalid">Country is required</span>
                </div>

                <div class="col-md-5">
                  <select type="text" name="city" class="fields"
                          ng-model="info.city" ng-options="item.id as item.city disable when item.disabled for item in cities" required>
                  </select>
                  <span ng-show="form.city.$touched
            && form.city.$invalid">City is required</span>
                </div>
              </div>
            </div>
            <input type="submit" class="btn admin-btn proceed-btn" value="Add user">
            <button ng-click="$rootScope.show = true" class="btn back-btn">Back</button>
          </form>
        </div>
      </div>
      </div>

    </uib-tab>


  </uib-tabset>
</div>
