<!-- Search restourants -->
<div class="image-background text-center">
  <div class="content">
    <p>Make a free reservation</p>
    <p>Choose your table from n restaurants near you</p>
      <form class="form-horizontal form-search" ng-controller="HomeCtrl" ng-submit="search()" >
        <div class="col-sm-4 input-holder guests-div"><i class="material-icons search loop">search</i><input ng-model="reservation.nameRes" type="text" placeholder="Location, Restaurant or Cousine" required></div>
        <div class="col-sm-2 input-holder guests-div"><i class="material-icons search">person</i><input ng-model="reservation.numGuests" type="number" min="1" placeholder="Guests" required></div>
        <div class="col-sm-2 input-holder"><md-datepicker class="datepicker" ng-model="reservation.date" md-hide-icons="triangle" md-placeholder="Insert Date" md-min-date="todayDate" required></div>

        <div class="col-sm-2 input-holder"><div class="timepicker-default" uib-timepicker ng-model="reservation.time" hour-step="1" minute-step="30" show-meridian="false" show-spinners="false" required></div></div>
        <div class="col-sm-2 input-holder"><input type="submit" value="Find a table"></div>
      </form>
  </div>
</div>


<!-- Random restourants -->
<div class="container random-restaurants-container" ng-controller="RestCtrl as vm">
  <div class="header-home text-center ">Popular for Lunch Today</div>
  <div class="col-md-4 col-sm-6 col-xs-12 text-margin-random-restaurant" ng-repeat="item in restaurants">
    <div class="random-restaurant-content" id="{{$index}}">
      <img class="img-rand img-responsive" ng-src="{{item.imageFileName}}">
      <div class = "random-restaurant-name">{{item.restaurantName}}</div><!--item.name/rate/price-->
      <div class="rating-range">
        <rating-stars ratings="vm.ratings[$index]" average-rating="vm.averageRating[$index]" ratings-position="{{vm.ratingsPosition}}">
        </rating-stars></div>
      <div class="dollar-range">
        <rating-dollars ratings="1" average-rating="vm.averageRatingDollar[$index]" ratings-position="">
        </rating-dollars></div>
      <div class = "random-restaurant-name search-food-type">{{item.foodType}}</div>
      <input type="submit" value="Reserve Now" ng-click="viewRestaurant($event)">
    </div>
      <!--cousines-->
  </div>
</div>
<!-- Specials / hardcoded -->
<div class="div-noodles" ng-controller="fakeSpecialsCtrl">
  <div class="noodles-title">Specials</div>
  <div uib-carousel class="carousel-custom" active = "0">
    <div uib-slide ng-repeat="meal in meals" index=$index>
      <div class = "col-sm-4 specials-object">
        <div class="random-restaurant-content">
        <img class ="specials-img" ng-src="{{meal.img}}">
             <h1>{{meal.title}}</h1>
          <p>{{meal.city}} | {{meal.numRes}}</p>
        </div>
      </div>
      <div class = "col-sm-4 specials-object">
        <div class="random-restaurant-content">
        <img class ="specials-img" ng-src="{{meals[getSecondIndex($index+1)].img}}">
        <h1>{{meals[getSecondIndex($index+1)].title}}</h1>
        <p>{{meals[getSecondIndex($index+1)].city}} | {{meals[getSecondIndex($index+1)].numRes}}</p>
        </div>
      </div>
      <div class = "col-sm-4 specials-object">
        <div class="random-restaurant-content">
        <img class ="specials-img" ng-src="{{meals[getSecondIndex($index+2)].img}}">
        <h1>{{meals[getSecondIndex($index+2)].title}}</h1>
        <p>{{meals[getSecondIndex($index+2)].city}} | {{meals[getSecondIndex($index+2)].numRes}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Locations / hardcoded -->
<div class="container locations" ng-controller="LocationCtrl">
  <div class ="text-center popular-locations-title">Popular locations</div>
    <div  class="col-md-3 col-sm-4 col-xs-6 random-restaurant-content" ng-repeat="location in locations">
      <div class="location-content">
        <div class="loc-city-name">{{location.city}}</div>
        <div class="loc-restaurant-number">{{location.restaurantNum}} restaurants</div>
      </div>
  </div>
</div>
